<form class="form-style-9" [formGroup]='studentForm'>
    <ul>
        <li>


            <input type="text" formControlName="name" class="field-style
                field-split align-left" placeholder="Name">


        </li>
        <li>

            <span *ngIf="nameFormControl.touched &&
                nameFormControl.errors?.['required']">
                The name field is required!
            </span>

            <span *ngIf="nameFormControl.dirty &&
                nameFormControl.errors?.['minlength']">
                The name must be at least 3 characters!
            </span>


        </li>
        <li>


            <input type="number" formControlName="age" class="field-style
                field-split align-left" placeholder="Age">

        </li>
        <li>
        </li>
        <li>


            <input type="email" formControlName="email" class="field-style
                field-split align-left" placeholder="me@sample.com">
        </li><li>
            <span *ngIf="emailFormControl.touched &&
                emailFormControl.errors?.['email']">
                The email field must be valid!
            </span>


        </li>
        <li>


            <input type="text" formControlName="username" class="field-style
                field-split align-left" placeholder="UserName73">
        </li><li>
            <span *ngIf="usernameFormControl.touched &&
                usernameFormControl.errors?.['prohibited']">
                Invalid username!
            </span>

        </li>
        <li>
            <button type="button" (click)="onSubmit()"
                [disabled]="studentForm.invalid">Sign Up</button>
        </li>
    </ul>
</form>
